main {
    width: 100%;
    padding: 30px 0;
}

#main_wrap {
    width: 1000px;
    margin: 0 auto;
}
.word {
    text-align: center;
    font-weight: bolder;
    margin: 15px 0;
}

.login_form table {
    margin: 0 auto;
    width: 70%;
    border-collapse: collapse;
}
.login_form table td {
    border: 1px solid #ddd;
    padding: 10px;
}
.login_form table td:first-child {
    width: 150px;
    background-color: rgba(150, 150, 150, 0.1);
    text-align: right;
}
.login_form table tr:last-child td {
    background-color: #fff;
    text-align: center;
}